[submodule "src/references/headline-parser"]
	path = src/references/headline-parser
	url = https://github.com/davidmcclure/headline-parser
[submodule "src/references/openreview-matcher"]
	path = src/references/openreview-matcher
	url = https://github.com/openreview/openreview-matcher
